<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="net.tomp2p" level="ERROR"/>
    
    <!-- <logger name="net.tomp2p.relay" level="DEBUG"/>
    <logger name="net.tomp2p.relay.android" level="DEBUG"/> -->
    
    <!-- Disable Netty Warning that I'm aware of -->
    <logger name="io.netty.util.concurrent.SingleThreadEventExecutor" level="OFF"/>

    <!-- default is OFF, options are: TRACE, DEBUG, INFO, WARN, ERROR, OFF.
         See http://logback.qos.ch/manual/architecture.html for more information -->
         
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>