<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	
    <!-- <logger name="net.tomp2p" level="ERROR"/>
    <logger name="net.tomp2p.replication" level="TRACE"/>
    <logger name="net.tomp2p.connection" level="INFO"/>
    
    <logger name="net.tomp2p.relay.BaseRelayServer" level="TRACE"/>
	<logger name="net.tomp2p.connection.Dispatcher" level="TRACE"/>
	<logger name="net.tomp2p.connection.RequestHandler" level="TRACE"/>
	<logger name="net.tomp2p.connection.Sender" level="TRACE"/>
	<logger name="net.tomp2p.relay.RconRPC" level="TRACE"/>
	<logger name="net.tomp2p.replication" level="TRACE"/>
	<logger name="net.tomp2p.relay.RconRPC" level="TRACE"/>
	<logger name="net.tomp2p.connection.RequestHandler" level="TRACE"/>
    
    <logger name="net.tomp2p.rcon" level="DEBUG"/>
    <logger name="net.tomp2p.relay" level="DEBUG"/>
    <logger name="net.tomp2p.nat" level="DEBUG"/>
    
    <logger name="net.tomp2p.dht.StorageRPC" level="TRACE"/>
    <logger name="net.tomp2p.dht.DistributedHashTable" level="TRACE"/>
    <logger name="net.tomp2p.dht.DistributedHashTable" level="TRACE"/>
    <logger name="net.tomp2p.p2p.DistributedRouting" level="TRACE"/>
    <logger name="net.tomp2p.message.Decoder" level="TRACE"/>
    <logger name="net.tomp2p.message.Encoder" level="TRACE"/>
    <logger name="net.tomp2p.relay.RelayForwarderRPC" level="TRACE"/>
    <logger name="net.tomp2p.nat.PeerMapUpdateTask" level="TRACE"/>
    <logger name="net.tomp2p.relay.RelayRPC" level="TRACE"/>
    <logger name="net.tomp2p.connection.HeartBeat" level="TRACE"/>
    <logger name="net.tomp2p.connection" level="WARN"/>
    <logger name="net.tomp2p.connection.RequestHandler" level="TRACE"/>
    <logger name="net.tomp2p.rpc.PingRPC" level="TRACE"/>
    <logger name="net.tomp2p.connection.PeerConnection" level="TRACE"/>
    <logger name="net.tomp2p.message.Decoder" level="TRACE"/>
    <logger name="net.tomp2p.message.Encoder" level="TRACE"/>
    <logger name="net.tomp2p.message.TomP2POutbound" level="TRACE"/>
    <logger name="net.tomp2p.message.TomP2PCumulationTCP" level="TRACE"/> -->
    
    <logger name="net.tomp2p.connection.Sender" level="TRACE"/>
    <logger name="net.tomp2p.connection.Dispatcher" level="TRACE"/>
    <logger name="net.tomp2p.nat.PeerNAT" level="TRACE"/>
    <logger name="net.tomp2p.relay.RelayRPC" level="TRACE"/>
    <logger name="net.tomp2p.relay.RelayUtils" level="TRACE"/>
    <logger name="net.tomp2p.relay.Forwarder" level="TRACE"/>
<!--     <logger name="net.tomp2p.connection.Sender" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.relay.DistributedRelay" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.relay.RelayRPC" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.relay.RelayUtils" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.relay.Forwarder" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.connection.RequestHandler" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.connection.Sender" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.connection.Reservation" level="TRACE"/> -->

<!--    <logger name="net.tomp2p.peers.DefaultMaintenance" level="TRACE"/> -->
<!--    <logger name="net.tomp2p.p2p.MaintenanceTask" level="TRACE"/> -->

<!--     <logger name="net.tomp2p.p2p.builder.DiscoverBuilder" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.rpc.NeighborRPC" level="TRACE"/> -->
    
    
    
<!--     <logger name="net.tomp2p.peers.PeerMap" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.connection.ChannelCreator" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.connection.Dispatcher" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.nat.PeerNAT" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.peers.DefaultMaintenance" level="TRACE"/> -->
<!--     <logger name="net.tomp2p.p2p.builder.DiscoverBuilder" level="TRACE"/> -->

    <!--  <logger name="net.tomp2p.relay" level="TRACE"/> -->
    <!-- Disable Netty Warning that I'm aware of -->
    <logger name="io.netty.util.concurrent.SingleThreadEventExecutor"
            level="OFF"/>

	<!-- Used to see the output in TestRelayReplication -->
    <!-- <logger name="net.tomp2p.replication" level="DEBUG"/> -->

    <!-- default is OFF, options are: TRACE, DEBUG, INFO, WARN, ERROR, OFF.
         See http://logback.qos.ch/manual/architecture.html for more
  information-->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
