<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>p2p.log</file>
    <append>false</append>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <!--  <logger name="net" level="TRACE"/> -->
  
  <!--  <logger name="net.tomp2p.connection2.ChannelCreator" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.connection2.ConnectionHandler" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.connection2.Dispatcher" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.connection2.Sender" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.connection.TCPChannelCache" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.connection2.RequestHandler" level="TRACE"/> -->
    
  <!--  <logger name="net.tomp2p.message.TomP2PDecoderTCP" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.message.TomP2PDecoderUDP" level="TRACE"/> -->
  
  <!--  <logger name="net.tomp2p.p2p.DefaultBroadcastHandler" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.p2p.DefaultTrackerReplication" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.p2p.DistributedHashTable" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.p2p.DistributedRouting" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.p2p.DistributedTask" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.p2p.DistributedTracker" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.p2p.Peer" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.p2p.RoutingMechanism" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.p2p.Statistics" level="TRACE"/> -->
  
  <!--  <logger name="net.tomp2p.peers.PeerMapKadImpl" level="TRACE"/> -->
  
  <!--  <logger name="net.tomp2p.replication.DefaultStorageReplication" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.replication.DefaultTrackerReplication" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.replication.Replication" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.replication.TrackerStorageReplication" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.replication.TrackerStorageReplication" level="TRACE"/> -->
 
  
  <!--  <logger name="net.tomp2p.rpc.RequestHandlerUDP" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.rpc.QuitRPC" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.rpc.TrackerRPC" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.rpc.NeighborRPC" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.rpc.PeerExchangeRPC" level="TRACE"/> -->
  
  <!--  <logger name="net.tomp2p.rpc.StorageRPC" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.rpc.HandshakeRPC" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.rpc.TaskRPC" level="TRACE"/> -->
  
  <!--  <logger name="net.tomp2p.storage.StorageMemoryReplication" level="TRACE"/> -->
  <!--  <logger name="net.tomp2p.storage.TrackerStorage" level="TRACE"/> -->
   
  
  <!--  <logger name="net.tomp2p.task.AsyncTask" level="TRACE"/> -->
  
  <!--  <logger name="net.tomp2p.utils.ConcurrentCacheMap" level="TRACE"/> -->
  
  <!-- default is OFF, options are: TRACE, DEBUG, INFO, WARN, ERROR, OFF. 
       See http://logback.qos.ch/manual/architecture.html for more information-->
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>